<footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Content Info</h3>
              </div>
                 <div class="col-md-8 col-lg8">
                <ul class="list-unstyled">
                  <li>Team Name : S.I.S</li>
                  <li>Project Name : Small Shop In Shop</li>
                  <li>Producer : 이준혁 , 장태욱 , 인혜인, 조현지 ,이동주</li>
                  <li>Git 주소 : </li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-5	 col-lg-5">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">emailaddress@domain.com</li>
                <li class="user"></li>
              </ul>
            </div>
​
            
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
          </div>
          
        </div>
      </div>
    </footer>
    
    
<script>
	var loginForm = $("#loginForm")
	function login() {
		$("#replyModal").modal('show')
	}
	$("#loginButton").on("click", function(e) {
		loginForm.submit();
	})
	$("#loginButton").on("click", function(e) {
		loginForm.submit();
	})
</script>    




<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/loginModal.js}"></script>


</body>
</html>