<html xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="/../include/header.html"></th:block>
    <!-- Header End -->


<!--        <div class="row align-items-start align-items-md-center justify-content-end">-->
        <div class="container">
          <div class="d-flex align-content-center justify-content-center flex-wrap bd-highlight mb-3" style="height:80vh">
            <div class="form-my row">
              <span class="icon icons-search2"></span>
              <input type="text" class="form-control border-0" id="keyword" placeholder="지역명, 지하철역명 등">
            </div>
            <div>
            
            <form id="serachForm" action="/store/google" method="get">
             <div class="bd-highlight valign"><button class="btn btn-sm btn-primary" id="serch">검색</button></div>
             <input type="hidden" name="keyword" > 
            </form>
            
            </div>
          </div>

<!--        <div class="row">-->
<!--          <div class ="col-md-2"></div>-->
<!--          <div class ="col-md-8">-->

<!--&lt;!&ndash;            <div class="site-search-icon text-center"> &lt;!&ndash; col-6 col-md-4 order-2 order-md-1  &ndash;&gt;&ndash;&gt;-->
<!--              <div class="row text-center">-->
<!--              <form action="" class="">-->
<!--&lt;!&ndash;                <span class="icon icon-search2"></span>&ndash;&gt;-->
<!--                <input type="text" class="form-control border-0" placeholder="Search">-->
<!--              </form>-->

<!--              <a href="#" class="btn btn-sm btn-primary">Search</a>-->
<!--            </div>-->

<!--              </div>-->


<!--          </div>-->
<!--        </div>-->


<!--          </div>-->

        </div>
<!--        </div>-->

 
  <style>
.modal-footer .hide{
	display:none;
	
}
</style>

  
 
  <script>
  
  var actionForm = $("#serachForm")
  var loginForm = $("#loginForm")
  
  
  
  
  
  function login(){
	  $("#replyModal").modal('show')
	}
  	

  	
	 $("#serch").on("click",function(e){
		e.preventDefault();
	 
		//alert($("#keyword").val())
		$("input[name='keyword']").val($("#keyword").val())
		serachForm.submit();
		 
		 
		 
	 })
	 
	  $("#loginButton").on("click",function(e){
	  
		  
		  loginForm.submit();
	  })
	 
	  
	  
	 
  </script>
<th:block th:insert="/../include/footer.html"></th:block>
  
  
