<html xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="/../include/header.html"></th:block>
    <!-- Header End -->


<!--        <div class="row align-items-start align-items-md-center justify-content-end">-->
        <div class="container"  >
          <div class="d-flex align-content-center justify-content-center flex-wrap bd-highlight mb-3" style="height:70vh">
            <div class="form-my row">
              <span class="icon icons-search2"></span>
              <input type="text" class="form-control border-0" id="keyword" placeholder="지역명, 지하철역명 등">
            </div>
            <div>
            
            <form id="serachForm" action="/shop/list" method="get">
             <div class="bd-highlight valign"><button class="btn btn-sm btn-primary" id="serch">검색</button></div>
             <input type="hidden" name="keyword" > 
            </form>
            
            </div>
          </div>


<div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-1">
            <h3>최근 올라온 매물</h3>
            <span style="font-size: 16px; float:right;" ><a href="/shop/list">전체글보기>></a></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
              
              <div class="item">
                <div class="block-4">
                  <img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                  <div class="block-4-text p-1">
                    <p class="mb-0">나의업종</p>
                    <p style="text-align:right;" class="mb-0">원하는 업종</p>
                    <p class="text-primary font-weight-bold mb-0">전세금/월세</p>
                    <p class="mb-0">전체면적/제공면적/기타등등</p>
                  </div>
                </div>
              </div>
              
              <div class="item">
                <div class="block-4">
                  <img src="images/cloth_2.jpg" alt="Image placeholder" class="img-fluid">
                  <div class="block-4-text p-1">
                    <p class="mb-0">나의업종</p>
                    <p style="text-align:right;" class="mb-0">원하는 업종</p>
                    <p class="text-primary font-weight-bold mb-0">전세금/월세</p>
                    <p class="mb-0">전체면적/제공면적/기타등등</p>
                  </div>
                </div>
              </div>
              
              <div class="item">
                <div class="block-4">
                  <img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                  <div class="block-4-text p-1">
                    <p class="mb-0">나의업종</p>
                    <p style="text-align:right;" class="mb-0">원하는 업종</p>
                    <p class="text-primary font-weight-bold mb-0">전세금/월세</p>
                    <p class="mb-0">전체면적/제공면적/기타등등</p>
                  </div>
                </div>
              </div>
              
              <div class="item">
                <div class="block-4">
                  <img src="images/cloth_2.jpg" alt="Image placeholder" class="img-fluid">
                  <div class="block-4-text p-1">
                    <p class="mb-0">나의업종</p>
                    <p style="text-align:right;" class="mb-0">원하는 업종</p>
                    <p class="text-primary font-weight-bold mb-0">전세금/월세</p>
                    <p class="mb-0">전체면적/제공면적/기타등등</p>
                  </div>
                </div>
              </div>
              
              <div class="item">
                <div class="block-4">
                  <img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                  <div class="block-4-text p-1">
                    <p class="mb-0">나의업종</p>
                    <p style="text-align:right;" class="mb-0">원하는 업종</p>
                    <p class="text-primary font-weight-bold mb-0">전세금/월세</p>
                    <p class="mb-0">전체면적/제공면적/기타등등</p>
                  </div>
                </div>
              </div>
              
              <div class="item">
                <div class="block-4">
                  <img src="images/cloth_2.jpg" alt="Image placeholder" class="img-fluid">
                  <div class="block-4-text p-1">
                    <p class="mb-0">나의업종</p>
                    <p style="text-align:right;" class="mb-0">원하는 업종</p>
                    <p class="text-primary font-weight-bold mb-0">전세금/월세</p>
                    <p class="mb-0">전체면적/제공면적/기타등등</p>
                  </div>
                </div>
              </div>
              
              <div class="item">
                <div class="block-4">
                  <img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                  <div class="block-4-text p-1">
                    <p class="mb-0">나의업종</p>
                    <p style="text-align:right;" class="mb-0">원하는 업종</p>
                    <p class="text-primary font-weight-bold mb-0">전세금/월세</p>
                    <p class="mb-0">전체면적/제공면적/기타등등</p>
                  </div>
                </div>
              </div>
              
              
              
              

            </div> <!-- owl-carousel -->
          </div> <!-- col 12 -->
        </div> <!-- row -->
      </div> <!--  container -->
    </div> <!-- site-section -->




 
  <style>
.modal-footer .hide{
	display:none;
	
}
</style>
<script>

var actionForm = $("#serachForm")
var loginForm = $("#loginForm")




function login(){
	  $("#replyModal").modal('show')
	}
	

	
	 $("#serch").on("click",function(e){
		e.preventDefault();
	 
		//alert($("#keyword").val())
		$("input[name='keyword']").val($("#keyword").val())
		serachForm.submit();
		 
		 
		 
	 })
	 
	  $("#loginButton").on("click",function(e){
	  
		  
		  loginForm.submit();
	  })
	 
	  
	  $("#loginButton").on("click",function(e){
	  
		  
		  loginForm.submit();
	  })



</script>

 
<th:block th:insert="/../include/footer.html"></th:block>
  
  
