<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="org.sis.mapper.LoginMapper">
 
 	<select id ="login" resultType="org.sis.user.model.MemberVO">

		select mmid,mpw,mname from tbl_member where mmid = #{mmid} and mpw = #{mpw}

	</select>
	
	
	<insert id="join" >
		
		insert into tbl_member (mmid,mpw,mname,nick,email,mobile,question,answer,country,address) 
		values (#{mmid},#{mpw},#{mname},#{nick},#{email},#{mobile},#{question},#{answer},#{country},#{address})
		
	</insert>
    
    
 </mapper>