<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="org.sis.mapper.LoginMapper">
 
 	<select id ="getLoginCnt" resultType="int">

		select count(*) from sis_member where mid = #{mid} and mpw = #{mpw}

	</select>
	
	
	<insert id="join" >
		
		insert into sis_member (mid,mpw,name) values (#{mid},#{mpw},#{name})
		
	</insert>
    
    
 </mapper>