<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="org.sis.mapper.MatchingMapper">

	<sql id="searchCri">
		<if test="map != null">
			<where>

				<foreach index="key" item="val" collection="map">
					<trim prefix="OR">

						<if test="key == 'T'.toString()">
							title like concat('%',#{val},'%')
						</if>

						<if test="key == 'C'.toString()">
							content like concat('%',#{val},'%')
						</if>

						<if test="key == 'W'.toString()">
							mmid like concat('%',#{val},'%')
						</if>

					</trim>
				</foreach>
			</where>
		</if>
	</sql>
 
 
 
    <insert id = "insert">
    insert into tbl_board_join (title, content, mmid, budget, location)
		values (#{title},#{content}, #{mmid}, #{budget}, #{location})

		<selectKey resultType="int" keyProperty="bno" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
    </insert>
    
    <select id="select" resultType="org.sis.board.model.MatchingVO">
    	select * from tbl_board_join where bno=#{bno}
    </select>
    
    <update id="update">
    	update tbl_board_join set title = #{title} , content = #{content} where bno = #{bno}
    </update>
    	
    <delete id="delete">
    	delete from tbl_board_join where bno = #{bno}
    </delete>
    
        <select id="NextPrevBno" resultType="Integer">
    <![CDATA[
    select bno FROM tbl_board_join  WHERE bno IN 
    ( 
    (SELECT bno  FROM tbl_board_join WHERE bno < #{bno}  ORDER BY bno DESC LIMIT 1), 
    (SELECT bno  FROM tbl_board_join WHERE bno > #{bno}  ORDER BY bno LIMIT 1) 
    )
    ]]> 
    </select>   
    
    
    <select id="selectPage" resultType="org.sis.board.model.MatchingVO">
    select *from tbl_board_join
     <include refid="searchCri"></include> 
    order by bno desc limit #{skip} , #{amount}
    </select>    

    
    <select id="selectPageCount" resultType="int">
    select count(bno) from tbl_board_join  <include refid="searchCri"></include> 
    </select>
    
    <select id="serach" resultType="org.sis.board.model.MatchingVO">
    select * from tbl_board_join
    <if test="map != null">
        <where>
            <foreach index="key" item="val" collection="map" >
                <trim prefix="OR">
                
                    <if test="key == 'T'.toString()">
                    title like concat('%',#{val},'%')
                    </if>
                    
                    <if test="key == 'C'.toString()">
                    content like concat('%',#{val},'%')
                    </if>
                    
                    <if test="key == 'W'.toString()">
                    writer like concat('%',#{val},'%')
                    </if>
                    
                </trim>
            </foreach>
        </where>
    </if>
    order by bno desc limit 0,20
    </select>
    
    
    
 </mapper>