<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="org.sis.mapper.UserMapper">
 
 	<select id ="login" resultType="org.sis.user.model.MemberVO">

		select mmid,mpw,mname from tbl_member where mmid = #{mmid} and mpw = #{mpw}

	</select>
	
	
	<insert id="join" >
		
		insert into tbl_member (mmid,mpw,mname,nick,email,mobile,question,answer,country,address) 
		values (#{mmid},#{mpw},#{mname},#{nick},#{email},#{mobile},#{question},#{answer},#{country},#{address})
		
	</insert>
	
	 	<select id ="mypage" resultType="org.sis.user.model.MemberVO">

		select mmid,mpw,mname,nick,email,mobile,question,answer,country,address,regdate from tbl_member where mmid = #{mmid} 
	</select>
    
    <update id="infoUpdate" >
    
    	update tbl_member set mname=#{mname}, nick=#{nick}, email=#{email}, mobile= #{mobile}
		where mmid = #{mmid}
    	
    
    </update>
    
    <select id = "getDupCheckCnt" resultType="int">
    select 
		  sum(
		   	(select count(*) from tbl_member where mmid = #{userid})
		   
		  )
		from
			dual
	</select>
    
    
 </mapper>