<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
			<form method="post">
				<p>
					<label>UID</label> <input type="text" name="mid" value="newbie" />
				</p>
				<p>
					<label>UPW</label> <input type="password" name="mpw" value="newbie" />
				</p>
				<p>
					<label>UNAME</label> <input type="text" name="name" value="홍길동" />
				</p>
				<button type="submit" class="btn">join</button>
			</form>
			


</body>
</html>