<html xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="/../include/header.html"></th:block>
    <!-- Header End -->

        <div class="container">
	
		
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">My page</div>
			<h1>[[${user.mmid}]]</h1>
			<div class="panel-body">
					<div class="form-group">
						<label>아이디</label>
						<input class="form-control" name="userid" type="text" placeholder="아이디" maxlength="20" value="[[${user.mmid}]]" readonly="readonly">
					</div>
					<div class="form-group">
						<label>비밀번호</label>
						<input class="form-control" name="password" type="password" placeholder="비밀번호" maxlength="15" readonly="readonly">
					</div>
					<div class="form-group">
						<label>비밀번호 확인</label>
						<input class="form-control" name="is_password" type="password" placeholder="비밀번호 확인" maxlength="15" readonly="readonly">
					</div>
					<div class="form-group">
						<label>이름</label>
						<input class="form-control" name="username" type="text" placeholder="이름" maxlength="20" value="${user.username}" readonly="readonly">
					</div>
					<div class="form-group">
						<label>닉네임</label>
						<input class="form-control" name="nick" type="text" placeholder="닉네임" maxlength="20" value="${user.username}" readonly="readonly">
					</div>
					<div class="form-group">
						<label>가입날짜</label>
						<input class="form-control" name="birthday" type="text" maxlength="8" value="${user.birthday}" readonly="readonly">
					</div>
					<div class="form-group">
						<label>이메일</label> 
						<input class="form-control" name="email" type="text" placeholder="이메일" value="${user.email}" readonly="readonly">
					</div>
					<div class="form-group">
						<label>연락처</label>
						<input class="form-control" name="phone" type="text" placeholder="ex)01012345678" maxlength="11" value="${user.phone}" readonly="readonly">
					</div>
				<button type="button" data-oper="modify" class="btn btn-default">Modify</button>
				<form name="userform" method="post" action="/kjh/user/userModify">
					<input type="hidden" name="userno">
				</form>

        </div>
</div>
</div>
</div>

</div>



 
  <style>
.modal-footer .hide{
	display:none;
	
}
</style>

  
 
  <script>
  
  var actionForm = $("#serachForm")
  var loginForm = $("#loginForm")
  
  
  
  
  
  function login(){
	  $("#replyModal").modal('show')
	}
  	

  	
	 $("#serch").on("click",function(e){
		e.preventDefault();
	 
		//alert($("#keyword").val())
		$("input[name='keyword']").val($("#keyword").val())
		serachForm.submit();
		 
		 
		 
	 })
	 
	  $("#loginButton").on("click",function(e){
	  
		  
		  loginForm.submit();
	  })
	 
	  
	  
	 
  </script>
<th:block th:insert="/../include/footer.html"></th:block>
  
  
