
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="/../include/header.html"></th:block>
    <div class="container">
      <div class="row">
        <div class="col">
          <p>관심목록</p>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#qwe">최근 본 매물</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#asd">찜한 매물</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#zxc">추천 매물</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="qwe" >
                <p>빈 페이지 1</p>
              </div>
              <div class="tab-pane fade" id="asd">
                <p>빈 페이지 2</p>
              </div>
              <div class="tab-pane fade" id="zxc">
                <p>빈 페이지 3</p>
              </div>
            </div>
        </div>
      </div>
    </div>
	<button onClick="addCookie('596')"></button>
   <style>
.modal-footer .hide{
	display:none;
	
}
</style>

  
 
  <script>
  
  function login(){
	  $("#replyModal").modal('show')
	}
  	
  
	 $("#joinpage").on("click",function(e){
		 e.preventDefault();
	  	
  	})
	 
    $("#loginButton").on("click",function(e){
	  
		  
		  loginForm.submit();
	  })
	 

  	function addCookie(id) {
		 
  var items = getCookie('productItems'); // 이미 저장된 값을 쿠키에서 가져오기
  var maxItemNum = 20; // 최대 저장 가능한 아이템개수
  var expire = 1; // 쿠키값을 저장할 기간
  if (items) {
    var itemArray = items.split(',');
    if (itemArray.indexOf(id) != -1) {
      // 이미 존재하는 경우 종료
      console.log('Already exists.');
    }
    else {
      // 새로운 값 저장 및 최대 개수 유지하기
      itemArray.unshift(id);
      if (itemArray.length > maxItemNum ) itemArray.length = 5;
      items = itemArray.join(',');
      setCookie('productItems', items, expire);
    }
  }
  else {
    // 신규 id값 저장하기
    setCookie('productItems', id, expire);
  }
}
	 
	 function getCookie(cookie_name) {
		  var x, y;
		  var val = document.cookie.split(';');

		  for (var i = 0; i < val.length; i++) {
		    x = val[i].substr(0, val[i].indexOf('='));
		    y = val[i].substr(val[i].indexOf('=') + 1);
		    x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
		    if (x == cookie_name) {
		      return unescape(y); // unescape로 디코딩 후 값 리턴
		    }
		  }
		}
	 
	 
	 function setCookie(cookie_name, value, days) {
		  var exdate = new Date();
		  exdate.setDate(exdate.getDate() + days);
		  // 설정 일수만큼 현재시간에 만료값으로 지정

		  var cookie_value = escape(value) + ((days == null) ? '' : ';    expires=' + exdate.toUTCString());
		  document.cookie = cookie_name + '=' + cookie_value;
		}
	  
	  
	  
	  
	  
	  
	  
	  
	  
  </script>

  <th:block th:insert="/../include/footer.html"></th:block>
 
