
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="/../include/header.html"></th:block>
    <div class="container">
      <div class="row">
        <div class="col">
          <p>관심목록</p>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#qwe">최근 본 매물</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#asd">찜한 매물</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#zxc">몰라요 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#zxq">몰라요2</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="qwe">
                <p>빈 페이지 1</p>
              </div>
              <div class="tab-pane fade" id="asd">
                <p>빈 페이지 2</p>
              </div>
              <div class="tab-pane fade" id="zxc">
                <p>빈 페이지 3</p>
              </div>
                <div class="tab-pane fade" id="zxq">
                <p>아무것도 엄써용</p>
              </div>
            </div>
        </div>
      </div>
    </div>

   <style>
.modal-footer .hide{
	display:none;
	
}
</style>

  
 
  <script>
  
  function login(){
	  $("#replyModal").modal('show')
	}
  	
  
	 $("#joinpage").on("click",function(e){
		 e.preventDefault();
	  	
  	})
	 
    $("#loginButton").on("click",function(e){
	  
		  
		  loginForm.submit();
	  })
	 

  	
  </script>

  <th:block th:insert="/../include/footer.html"></th:block>
 
