<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<style>
    #map-canvas {
        width: 600px ;
        height: 600px ;
    }
</style>

</head>
<body>
<h1>map</h1>

<input type="text" name="city">
<input type="text" name="age">
<button id="submit"> submit </button>



<script src="/js/jquery-3.3.1.min.js">

</script>
<script>




$("#submit").on("click",function(e){
	
		function storedata(arr, callback) {
			var arr = { city: $("input[name='city']").val(), age: $("input[name='age']").val() };
			console.log(arr)
		$.ajax({
			type : "post",
			url : "/shop/google",
			data : JSON.stringify(arr),
			contentType : "application/json;charset=UTF-8",
			success : function() {
				if (callback) {
					callback();
				}
			}
		})
		}
		
		storedata()
	
	
})
 
</script>
</body>
</html>