<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:insert="/../include/header.html"></th:block>
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap-multiselect.css"
	type="text/css">
<script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>


<style>
html, body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
}

nav, section, article, aside, footer {
	display: block;
}


container {
	min-height: 100%;
	width: 100%
}

nav {
	float: both;
	width: 100%;
	height: 70px;
	padding: 15px;
	
}

section {
	float: left;
	width: 55%;
	height: 100%;
	overflow: auto;
}

aside {
	float: right;
	max-width: 45%;
	height: 100%;
	border: 1px solid gray;
	overflow: auto;
}

#map-canvas {
	width: 850px;
	height: 950px;
	overflow: auto;
}

.simple-box {
	width: 100%;
	height: 730px;
	overflow: auto;
}

.search-bar {
	width: 96%;
	height: 100%;
}

.itemFixed {
	position: fixed;
	top: 0px;
	right: 0;
}
</style>

<container>

<nav class="card shadow mb-4" >
	<div class="search-bar row">
		<input class="form-control col-2 " placeholder="검색하세요.">
		<button class="btn-primary btn-sm searchBtn">지역 검색</button>

		<select id="multi-select1" >
			<option value="식당" selected>식당</option>
			<option value="디저트">디저트</option>
			<option value="카페">카페</option>
			<option value="생활">생활</option>
			<option value="오락시설">오락시설</option>
		</select>

		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">보증금</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<div class="border p-4 rounded mb-4">
					<div class="mb-4">
						<h3 class="mb-3 h6 text-uppercase text-black d-block">Filter
							by Price</h3>
						<div id="slider-range" class="border-primary"></div>
						<input type="text" name="deposit" id="amount"
							class="form-control border-0 pl-0 bg-white" disabled="" />
					</div>
				</div>

			</div>
		</div>

		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">월세</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<div class="border p-4 rounded mb-4">
					<div class="mb-4">
						<h3 class="mb-3 h6 text-uppercase text-black d-block">Filter
							by Price</h3>
						<div id="slider-range2" class="border-primary"></div>
						<input type="text" name="rent" id="amount2"
							class="form-control border-0 pl-0 bg-white" disabled="" />
					</div>
				</div>

			</div>
		</div>

		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">제곱면적</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<div class="border p-4 rounded mb-4">
					<div class="mb-4">
						<h3 class="mb-3 h6 text-uppercase text-black d-block">Filter
							by Price</h3>
						<div id="slider-range3" class="border-primary"></div>
						<input type="text" name="surface" id="amount3"
							class="form-control border-0 pl-0 bg-white" disabled="" />
					</div>
				</div>

			</div>
		</div>

		<select id="multi-select2">
			<option value="true" selected>주차장 존재</option>
			<option value="false">주차장 없음</option>


		</select> <select id="multi-select3">
			<option value="true" selected>엘리베이터 존재</option>
			<option value="false">엘리베이터 없음</option>


		</select> <select id="multi-select4">
			<option value="true" selected>화장실 존재</option>
			<option value="false">화장실 없음</option>

		</select> <select id="multi-select5">
			<option value="지하">지하</option>
			<option value="1층" selected>1층</option>
			<option value="2층">2층</option>
			<option value="3층">3층</option>
			<option value="4층">4층</option>
			<option value="5층">5층</option>
			<option value="6층">6층</option>
			<option value="7층">7층</option>
			<option value="8층">그 이상 층</option>
		</select>
	
	
	<button id="condition" class="btn-primary btn-sm searchBtn">조건 검색</button>
	</div>

	



</nav>



<section >
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<div class="site-section-heading pt-3 mb-4">
				<h5>조건에 맞는 매물 : [[${pm.cri.amount}]]개</h5>
			</div>
		</div>
	</div>
	<!-- list Header -->


	<div class="row justify-content-center" id="storeList">

		<div class="col-sm-5 mb-4" th:each="vo : ${list}">
			<div class="block-4" >
				<a href="" class="link" th:value=${vo.bno} th:each="img : ${listImg}">
					<img th:if="${vo.bno} == ${img.bno}" 
					th:src="@{${'/upload_shop/getImage?fileName='+ '/s_' + img.uuid + '_' + img.fileName}}"
					th:attr="onmouseover=|imgHover(${vo.lat},${vo.lng})|"
					onmouseleave="imgLeave()" class="img-fluid"></a>
				<div class="block-4-text p-1" >
					<p class="mb-0">업종: [[${vo.stype}]]</p>
					<p style="text-align: right;" class="mb-0">원하는 업종</p>
					<p class="text-primary font-weight-bold mb-0">전세금:
						[[${vo.deposit}]]만원 / 월세: [[${vo.rent}]] 만원</p>
					<p class="mb-0">제공가능면적: [[${vo.p_surface}]] 평</p>\
					
				</div>
			</div>
		</div>
	</div>
	<!-- DIV Container -->

	<div id="storePage">
	<ul class="pagination justify-content-center">
		
		
		<li th:if="${pm.prev}" class="page-item"><a class="page-link"
			th:href='${pm.start-1}'>Previous</a></li>
		<li
			th:class="${pageNumber == pm.current} ? 'page-item active' : 'page-item'"
			th:each="pageNumber : ${pm.pageList}"><a class="page-link"
			th:href='${pageNumber}' th:text='${pageNumber}'></a></li>


		<li th:if="${pm.next}" class="page-item"><a class="page-link"
			th:href='${pm.end+1}'>Next</a></li>
			
		

	</ul>
	</div>





</section>


<aside>

	 <div id="map-canvas"></div>
</aside>
</container>


</body>

<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/loginModal.js}"></script>
 <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script
	src="//maps.googleapis.com/maps/api/js?key=AIzaSyCyfhfvTsgc8w7P_BrNXZbsLW0LaChuChI&language=ko"></script>

<!-- Map -->
<script>
var loginForm = $("#loginForm")
function login() {
	$("#replyModal").modal('show')
}
$("#loginButton").on("click", function(e) {
	loginForm.submit();
})
$("#loginButton").on("click", function(e) {
	loginForm.submit();
})

var locations = [ ]
var marker= []
	var markerCluster
	var centerLoc = {
		lat : 37.504520,
		lng : 127.024236
	}


	function setCenterLoc(latVal, lngVal) {
		centerLoc = {
			lat : latVal,
			lng : lngVal
		}
	}

	var mapContainer = document.getElementById("map-canvas");
	var mapOption = {
		center : centerLoc,
		zoom : 15,
	}

	var map = new google.maps.Map(mapContainer, mapOption);

	
	
	// Event ,, Change Center
	google.maps.event.addListener(map,"dragend", function(argument) {
		//console.log(JSON.stringify(argument));
		//console.log(argument);
		
		var bounds = map.getBounds()
		var NE = bounds.getNorthEast()
		var SW = bounds.getSouthWest()
		
		console.log("NE : "+NE.lat()+","+NE.lng())
		console.log("SW : "+SW.lat()+","+SW.lng())
		
	
		storedataMap(NE.lat(),NE.lng(),SW.lat(),SW.lng(),function(msg){
			
			
			
			$("#storeList").html('')
			$("#storePage").html('')
			
			
			if(marker.length > 0){
				markerCluster.clearMarkers()
				
				marker = []
				
			}
			for(i=0;i<msg.length;i++){
			var strHTML =
				
				"<div class='col-sm-5 mb-4'>"+
				"<div class='block-4'>"+
				"<a href='' class='link' value="+msg[i].bno+">"+
				"<img src='/images/shop.jpg' alt='Image placeholder'"+
				"attr='onmouseover=|imgHover("+msg[i].lat+","+msg[i].lng+")|'"+
				"onmouseleave='imgLeave()' class='img-fluid'></a>"+
				"<div class='block-4-text p-1' >"+
				"<p class='mb-0'>업종: "+msg[i].stype+"</p>"+
				"<p style='text-align: right;' class='mb-0'>원하는 업종</p>"+
				"<p class='text-primary font-weight-bold mb-0'>전세금:"+
				msg[i].deposit+"만원 / 월세: "+msg[i].rent+" 만원</p>"+
				"<p class='mb-0'>제공가능면적: "+msg[i].p_surface+" 평</p>"
				"</div>"+"</div>"+"</div>"
				
				$("#storeList").append(strHTML)
				
				
				locations.push({lat:msg[i].lat,lng:msg[i].lng})
				
				
				
				
			
			
			
			
			}
			
			
			initMap()
			
			
			locations=[]

	
			
		})
		
	});

	var centerMarker; // 검색한 지역 ( 지도의 중심 )
	var shopSpecifiedLocMarker; // 특정 매물의 위치
	//var shopCountInArea; // 매물 개수 ( 현재 지도의 범위 내 )
	var subwayStationMarker; // 지하철역 ( 현재 지도의 범위 내 )

	var subwayStationLoc2 = {
		'신논현역' : {
			position : {
				lat : 37.504438,
				lng : 127.024488
			}
		},
		'논현역' : {
			position : {
				lat : 37.511077,
				lng : 127.021347
			}
		},
		'강남역' : {
			position : {
				lat : 37.497945,
				lng : 127.027549
			}
		},
		'역삼역' : {
			position : {
				lat : 37.500631,
				lng : 127.036432
			}
		},
		'언주역' : {
			position : {
				lat : 37.507313,
				lng : 127.033933
			}
		},
		'학동역' : {
			position : {
				lat : 37.514311,
				lng : 127.031761
			}
		}
	}
	var subwayStationLoc = [ {
		content : '<div>신논현역</div>',
		position : {
			lat : 37.504438,
			lng : 127.024488
		}
	}, {
		content : '<div>논현역</div>',
		position : {
			lat : 37.511077,
			lng : 127.021347
		}
	}, {
		content : '<div>강남역</div>',
		position : {
			lat : 37.497945,
			lng : 127.027549
		}
	}, {
		content : '<div>역삼역</div>',
		position : {
			lat : 37.500631,
			lng : 127.036432
		}
	}, {
		content : '<div>언주역</div>',
		position : {
			lat : 37.507313,
			lng : 127.033933
		}
	}, {
		content : '<div>학동역</div>',
		position : {
			lat : 37.514311,
			lng : 127.031761
		}
	},{
		content : '<div>신사역</div>',
		position : {
			lat : 37.516334,
			lng : 127.020114
		}
	},{
		content : '<div>잠원역</div>',
		position : {
			lat : 37.51296,
			lng : 127.011611
		}
	}, {
		content : '<div>반포역</div>',
		position : {
			lat : 37.508178,
			lng : 127.011727
		}
	},{
		content : '<div>사평역</div>',
		position : {
			lat : 37.5039477,
			lng : 127.0158272
		}
	},{
		content : '<div>선릉역</div>',
		position : {
			lat : 37.504478,
			lng : 127.048941
		}
	},{
		content : '<div>고속터미널역</div>',
		position : {
			lat : 37.5047736,
			lng : 127.0049178
		}
	},{
		content : '<div>강남구청역</div>',
		position : {
			lat : 37.517161,
			lng : 127.041288
		}
	},{
		content : '<div>압구정역</div>',
		position : {
			lat : 37.527072,
			lng : 127.028461
		}
	},{
		content : '<div>청담역</div>',
		position : {
			lat : 37.519365,
			lng : 127.053350
		}
	},,{
		content : '<div>언주역</div>',
		position : {
			lat : 37.507287,
			lng : 127.033868
		}
	},{
		content : '<div>압구정 로데오역</div>',
		position : {
			lat : 37.527381,
			lng : 127.040534
		}
	},{
		content : '<div>선정릉역</div>',
		position : {
			lat : 37.510980,
			lng : 127.043593
		}
	},{
		content : '<div>삼성중앙역</div>',
		position : {
			lat : 37.513011,
			lng : 127.053282
		}
	},{
		content : '<div>교대역</div>',
		position : {
			lat : 37.493415,
			lng : 127.014080
		}
	},{
		content : '<div>한티역</div>',
		position : {
			lat : 37.496237,
			lng : 127.052873
		}
	},{
		content : '<div>도곡역</div>',
		position : {
			lat : 37.490858,
			lng : 127.055381
		}
	},{
		content : '<div>매봉역</div>',
		position : {
			lat : 37.486947,
			lng : 127.046769
		}
	},{
		content : '<div>남부터미널역</div>',
		position : {
			lat : 37.485013,
			lng : 127.016189
		}
	},{
		content : '<div>서초역</div>',
		position : {
			lat : 37.491897,
			lng : 127.007917
		}
	}]

	//function initMap() {

	var image = 'https://img.icons8.com/office/40/000000/subway.png';

	<!--Marker-->
	/* centerMarker = new google.maps.Marker( {
	    map: map,
	    position: {lat: 37.504520, lng: 127.024236 }
	} ) ; */

	var subwayCircle;

	for ( var station in subwayStationLoc) {

		subwayStationMarker = new google.maps.Marker({
			position : subwayStationLoc[station].position,
			map : map,
			icon : image,
			clickable : true
		});

		subwayStationMarker.addListener("click", function() {
			subwayCircle = new google.maps.Circle({
				strokeColor : '#9B59B6',
				strokeOpacity : 0.8,
				strokeWeight : 2,
				fillColor : '#9B59B6',
				fillOpacity : 0.35,
				map : map,
				center : subwayStationLoc[station].position,
				radius : 500
			});
		});
	}
	//}

	/* 				var subwayCircle2 = new google.maps.Circle({
	 strokeColor: '#FF0000',
	 strokeOpacity: 0.8,
	 strokeWeight: 2,
	 fillColor: '#FF0000',
	 fillOpacity: 0.35,
	 map: map,
	 center: centerLoc,
	 radius: 500
	 });; */

	function imgHover(mlat, mlng) {

		console.log("lat: " + mlat + ", lng : " + mlng)

		var imageSrc = 'https://img.icons8.com/office/40/000000/marker.png'
		//var imageSize = new google.maps.Size(10,10);
		//var markerImage = new google.maps.MarkerImage(imageSrc, imageSize)
		shopSpecifiedLocMarker = new google.maps.Marker({
			position : {
				lat : mlat,
				lng : mlng
			},
			icon : imageSrc
		//icon: markerImage
		});

		shopSpecifiedLocMarker.setMap(map)
	}

	function imgLeave() {

		shopSpecifiedLocMarker.setMap(null)
	}

	
	$("#condition").on("click",function(e){
	
		
	
		storedata()
	
})
		
		function storedata(callback) {
		
		var arr = { stype: $("#multi-select1 option:selected").val(), deposit: $("input[name='deposit']").val(),
				rent:$("input[name='rent']").val(), surface:$("input[name='surface']").val(), park:$("#multi-select2 option:selected").val(),
				elev:$("#multi-select3 option:selected").val(),toilet:$("#multi-select4 option:selected").val(),floor:$("#multi-select5 option:selected").val()
				};
			console.log(arr)
			
			
			$.ajax({
				type : "post",
				url : "/shop/list",
				data : JSON.stringify(arr),
				contentType : "application/json;charset=UTF-8",
				success : function(msg) {
					console.log(msg)
					
					
						callback()
					
				}
			})
		
		}
		
		
		
		function storedataMap(NeLat,NeLng,SwLat,SwLng, callback) {
		
			
			var deposit = $("input[name='deposit']").val().split("-")
			var rent = $("input[name='rent']").val().split("-")
			var surface = $("input[name='surface']").val().split("-")
			
			var arr = { stype: $("#multi-select1 option:selected").val(), depositmin: deposit[0].trim(),
					depositmax:deposit[1].trim() ,rentmin:rent[0].trim(),rentmax:rent[1].trim(), surfacemin:surface[0].trim(),surfacemax:surface[1].trim(), park:$("#multi-select2 option:selected").val(),
					elev:$("#multi-select3 option:selected").val(),toilet:$("#multi-select4 option:selected").val(),floor:$("#multi-select5 option:selected").val().substring(0,1)
					,nelat:NeLat,nelng:NeLng,swlat:SwLat,swlng:SwLng};
			
			
		
			
			console.log(arr)
			
			
			$.ajax({
				type : "post",
				url : "/shop/list",
				data : JSON.stringify(arr),
				contentType : "application/json;charset=UTF-8",
				success : function(msg) {
					console.log(msg)
					
					
						callback(msg)
					
				}
			})
		
		}
		
		
		
			

	
	
	
	
	$(document).ready(function() {
		$('#multi-select1').multiselect();
		$('#multi-select2').multiselect();
		$('#multi-select3').multiselect();
		$('#multi-select4').multiselect();
		$('#multi-select5').multiselect();
		

	});
	
	
	$(".link").on("click",function(){

		console.log("Aa")
		
		var furuitSrc= $(this).attr('value');
		
		var url ="/shop/read/?bno="+furuitSrc
		
		$(".link").attr("href", url)	
	 });


	$(document).on("click",".link",function(){  

		var furuit= $(this).attr('value');
		
		var url ="/shop/read/?bno="+furuit
		
		$(".link").attr("href", url)			
	})
	

	


	
	 function initMap() {

		
			
	        // Create an array of alphabetical characters used to label the markers.
	        var labels = '1';

	        // Add some markers to the map.
	        // Note: The code uses the JavaScript Array.prototype.map() method to
	        // create an array of markers based on a given "locations" array.
	        // The map() method here has nothing to do with the Google Maps API.
	        var markers= locations.map(function(location, i) {
	          return new google.maps.Marker({
	            position: location,
	            label: labels[i % labels.length]
	         
	          });
	          
	        });
	        marker.push(markers)
	        

	        // Add a marker clusterer to manage the markers.
	         markerCluster = new MarkerClusterer(map, markers,
	            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
	      
	    
	        
	 }

	
</script>


</html>

