<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8" />
<title>Shop In Shop</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
<link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">




<link rel="stylesheet" th:href="@{/css/aos.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/lightbox.min.css}">

</head>
<body>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/owl.gallery.js}"></script>
<script th:src="@{/js/lightbox.min.js}"></script>



<div class="container">



<div class="card-body">
<div class="d-flex">
	

	<div>
		<label>Title : </label> <span class=" r-auto align-self-center"
			 >[[${vo.title}]]</span>
	</div>
	</div>
	
	<div class="d-flex">
	<div >
		<label>작성자 : </label> <span class=" r-auto align-self-center"
			 >[[${vo.whom}]]</span>
	
		<div class="ml-auto align-self-end"><span >RegDate : [[${#dates.format(vo.regdate,'yyyy.MM.dd ( H:mm:ss )')}]]</span></div>
	</div>
	</div>
	
	<hr style="border: outset">

	<div class="form-group">
		<label>Content</label>
		<textarea class="form-control" rows="3" name='content'
			th:text="${vo.content}" readonly="readonly"></textarea>
	</div>

	


	<div class="pull-right" >
		<a th:href="@{/msg/remove?msgnum={id}(id=${vo.msgnum})}" class="btn-dark btn-sm deleteBtn">Delete</a> 
		
		<button class="btn-dark btn-sm regBtn" >register</button>
		<button class="btn-dark btn-sm listBtn" >Go List</button>
		
	</div>
	</div>
	</div>
	
	<form id="actionForm" action="/msg/remove" method="get">
	<input type="hidden" name="msgnum" th:value="${cri.msgnum}"> 
	<input type="hidden" name="page" th:value="${cri.page}"> 
	<input type="hidden" name="amount" th:value="${cri.amount}"> 
	<input type="hidden" name="type" th:value="${cri.type}">
	<input type="hidden" name="keyword" th:value="${cri.keyword}">
</form>
	
	<form id="registerForm" action="msg/register" method="get">
	<input type="hidden" name="mmid" th:value="${vo.mmid}">
	<input type="hidden" name="whom" th:value="${vo.whom}">
	</form>
	
<script th:src="@{/js/reply.js}"></script>
<script>

<!-- using actionForm -->

var actionForm = $("#actionForm");

var registerForm = $("#registerForm");

$(".listBtn").on("click", function(e) {
	console.log("list")
	
	
	actionForm.find("input[name='msgnum']").remove();
	actionForm.attr("action", "/msg/list").submit();
})


$(".regBtn").on("click", function(e) {
	console.log("list~~~~~~~~~`")
	
 	registerForm.attr("action", "/msg/register").submit();
})


</script>
	
	
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/loginModal.js}"></script>


</body>
</html>
