<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8" />
<title>Shop In Shop</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
<link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">




<link rel="stylesheet" th:href="@{/css/aos.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/lightbox.min.css}">

</head>
<body>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/owl.gallery.js}"></script>
<script th:src="@{/js/lightbox.min.js}"></script>

<div class="container">
	<h1>register page</h1>
	<div class="panel-body ">

		<form class="actionForm" th:action="@{/msg/register}" method="post">

			<div class="form-group">
				<label>Title</label> <input class="form-control" name="title"
					th:value="${vo.title}" />
			</div>

			<div class="form-group">
				<label>Content</label>
				<textarea class="form-control" rows="3" name='content'
					th:text="${vo.content}"></textarea>
			</div>


			<div class="form-group">
				<label>Whom</label> <input class="form-control" name="whom"
					th:value="${vo.whom}"/>
			</div>

			<div class="form-group">
				<label>Writer</label><input class="form-control" name="mid"
			th:value="${vo.mmid}" readonly="readonly" />
			</div>


		</form>
	</div>

	<div class="pull-right" >
		<button type="submit" class="insertBtn btn-dark btn-sm">보내기</button>
		<a th:href="@{/msg/list}" class="btn-dark btn-sm"> 목록으로 </a>
	</div>
	</div>
<script th:inline="javascript">
	var form = $(".actionForm");

	$(".insertBtn").on("click", function(e) {
		e.preventDefault();
		var str = "";

		form.append(str);
		form.submit();
	});
	// end insert btn
</script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/loginModal.js}"></script>


</body>
</html>
