<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8" />
<title>Shop In Shop</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
<link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">




<link rel="stylesheet" th:href="@{/css/aos.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/lightbox.min.css}">

</head>
<body>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/owl.gallery.js}"></script>
<script th:src="@{/js/lightbox.min.js}"></script>

<div class="container">
	
	<h1>보낸 쪽지함</h1>
	
	<button class="btn-dark btn-sm regBtn" >register</button>
	
	<a th:href="@{/msg/list}" class="btn-dark btn-sm deleteBtn">list</a>
	<button class="btn-outline-secondary btn-sm">send</button>
	
		<hr style="border: outset">
	
<div>
	<table class="table-msg table table-hover">
		<tr class="table-primary">
			<td>제목</td>
			<td>받은사람</td>
			<td>REGDATE</td>
			<td>read</td>
		</tr>
		<tr th:each="vo : ${list}">
			<td><a class="view" th:href="${vo.msgnum}" th:text="${vo.title}"></a></td>
			<td th:text="${vo.whom}"></td>
			<td th:if="${vo.regdate.before(#dates.createToday())}">[[${#dates.format(vo.regdate, 'yyyy-MM-dd')}]]</td>
            <td th:if="${vo.regdate.after(#dates.createToday())}">[[${#dates.format(vo.regdate, 'H:mm a')}]]</td>
            <td th:if="${vo.readed}==false">안읽음</td>
            <td th:if="${vo.readed}==true">읽음</td>
            
		</tr>
	</table>
<div>	
		<select name="typeView">
			<option value="">--</option>
			<option value="T" th:attr="selected=${cri.type == 'T'? 'true' : 'false'}">제목</option>
			<option value="C" th:attr="selected=${cri.type == 'C'? 'true' : 'false'}">내용</option>
  			<option value="W" th:attr="selected=${cri.type == 'W'? 'true' : 'false'}">작성자</option>
			<option value="TC" th:attr="selected=${cri.type == 'TC'? 'true' : 'false'}">제목 + 내용</option>
			<option value="TW" th:attr="selected=${cri.type == 'TW'? 'true' : 'false'}">제목 + 작성자</option>
			<option value="CW" th:attr="selected=${cri.type == 'CW'? 'true' : 'false'}">내용 + 작성자</option>
			<option value="TCW" th:attr="selected=${cri.type == 'TCW'? 'true' : 'false'}">제목 + 내용+ 작성자</option>
		</select>
		
		<input  type="text" name="keywordView" th:value="${cri.keyword}">
		<button class="btn-primary btn-sm searchBtn">Search</button>
	
		<select class="amount-opt">
			<option value="10" th:attr="selected=${cri.amount == 10? 'true' : 'false'}">10</option>
			<option value="20" th:attr="selected=${cri.amount == 20? 'true' : 'false'}">20</option>
			<option value="50" th:attr="selected=${cri.amount == 50? 'true' : 'false'}">50</option>
			<option value="100" th:attr="selected=${cri.amount == 100? 'true' : 'false'}">100</option>
		</select>
		
	</div>
		<ul class="pagination">
		
		<li th:if="${pm.prev}" class="page-item"><a class="page-link"
			th:href='${pm.start-1}'>Previous</a></li>
			
			
		
		<li  th:class="${pageNumber == pm.current} ? 'page-item active' : 'page-item'" th:each="pageNumber : ${pm.pageList}">
			<a class="page-link" th:href='${pageNumber}' th:text='${pageNumber}'></a>
		</li>
		
		

		<li th:if="${pm.next}" class="page-item"><a class="page-link" 
			th:href='${pm.end+1}'>Next</a></li>
	</ul>





	
</div>
	


	<form id="actionForm" action="/msg/sendlist" method="get">
	<input type="hidden" name="page" th:value="${cri.page}">
	<input type="hidden" name="amount" th:value="${cri.amount}">
	<input type="hidden" name="type" th:value="${cri.type}">
	<input type="hidden" name="keyword" th:value="${cri.keyword}">
	</form>

	<form id="registerForm" action="msg/register" method="get">
	<input type="hidden" name="mmid" th:value="${vo.mmid}">
	
	</form>

</div>
<script>


<!-- addFlashAttribute -->
var flag = '${result}';

if (flag === 'success') {
	alert("작업이 성공했습니다.");
}

var actionForm = $("#actionForm");

$(".view").on("click",function(e){
	e.preventDefault();
	var targetmsgnum = $(this).attr("href");
	
	actionForm.attr("action","/msg/read");
	actionForm.append("<input type='hidden' name='msgnum' value="+targetmsgnum+">");
	actionForm.submit();
});



var registerForm = $("#registerForm");


$(".regBtn").on("click", function(e) {
	console.log("list~~~~~~~~~`")
	
 	registerForm.attr("action", "/msg/register").submit();
	
})



$(".page-link").on("click",function(e){
	e.preventDefault();
	var targetPage = $(this).attr("href");
	console.log(targetPage);
	actionForm.find("input[name='page']").val(targetPage);
	actionForm.submit();
});


<!-- seach div -->

$(".searchBtn").on("click",function(e){
	var keyword =$("input[name='keywordView']");
	var keywordValue =keyword.val();
	
	if(keywordValue.trim().length ==0){
		alert("검색어를 입력하세요");
		return;
	}
	$("input[name='keyword']").val(keywordValue);
	$("input[name='page']").val(1);
	
	var selectValue = $("select[name='typeView']").val()
	$("input[name='type']").val(selectValue);
	actionForm.submit();
	
});


$(".amount-opt").on("change",function(e){
	var amountValue = this.value;
	
	actionForm.find("input[name='page']").val(1);
	actionForm.find("input[name='amount']").val(amountValue);
	actionForm.submit();
});
<!-- actionForm End .. -->

<!-- make pagenation -->

var page = [] 

for(var i = [[${pm.start}]] ; i <= [[${pm.end}]] ; i++ ){
	page.push(i);
}
console.log(page);

console.log([1 , 2]);
	
	

</script>


<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/loginModal.js}"></script>


</body>
</html>
