<html xmlns:th="http://www.thymeleaf.org">

<body>

<h1>modify page</h1>

<div class="panel-heading">View Page</div>
<form id="actionForm" action="/board/modify" method="post">
<div class="panel-body">

	<div class="form-group">
		<label>BNO</label> <input class="form-control" name="bno"
			th:value="${vo.bno}" readonly="readonly" />
	</div>

	<div class="form-group">
		<label>Title</label> <input class="form-control" name="title"
			th:value="${vo.title}" />
		<p class="help-block">Title text here.</p>
	</div>

	<div class="form-group">
		<label>Content</label>
		<textarea class="form-control" rows="3" name='content'
			th:text="${vo.content}"></textarea>
	</div>

	<div class="form-group">
		<label>Writer</label> <input class="form-control" name="writer"
			th:value="${vo.writer}" readonly="readonly" />
	</div>

	<div class="form-group">
		<label>RegDate</label> <input class="form-control" name="regDate"
			th:value="${#dates.format(vo.regdate,'yyyy-MM-dd')}"
			readonly="readonly" />
	</div>


	<div class="pull-right" >
	<button class="btn btn-primary modBtn">Modify</button> 
	<button class="btn btn-primary delBtn">Delete</button> 
	<button class="btn btn-primary listBtn">Go List</button>
	</div>


</div>


	<input type="hidden" name="bno" th:value="${cri.bno}"> 
	<input type="hidden" name="page" th:value="${cri.page}"> 
	<input type="hidden" name="amount" th:value="${cri.amount}"> 
	<input type="hidden" name="type" th:value="${cri.type}">
	<input type="hidden" name="keyword" th:value="${cri.keyword}">
</form>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
<!-- using actionForm -->

var actionForm = $("#actionForm");

$(".modBtn").on("click", function(e) {
	actionForm.submit();
})

$(".delBtn").on("click", function(e) {
	actionForm.attr("action", "/board/remove").submit();
	actionForm.submit();
})

$(".listBtn").on("click", function(e) {
	actionForm.find("input[name='bno']").remove();
	actionForm.attr("action", "/board/list").attr("method","get").submit();
})
<!-- actionForm End .. -->

</script>
  
</body>
</html>