<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/../include/header.html"></th:block>

<style>
.modal-footer .hide {
	display: none
}


.modal {
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}


</style>

<br>

<div class="container">

<div class="card shadow mb-4">
<div class="card-body">
	<div class="d-flex">
		<span class="mr-auto align-self-center font-weight-bold">[[${vo.title}]] ( [[${vo.replycnt}]]  )  </span>
		<div class="ml-auto">
			<a class="align-self-center btn-sm btn-info prevBtn" href="#">이전글</a>
			<a class="align-self-center btn-sm btn-primary listBtn" href="#">목록으로</a>
			<a class="align-self-center btn-sm btn-info nextBtn" href="#">다음글</a>
		</div>
	</div>
	
	<div class="d-flex">
		<span class="mr-auto align-self-center">작성자: [[${vo.mmid}]]</span>
		<div class="ml-auto align-self-end">
			<span>등록날짜: [[ ${#dates.format(vo.regdate,'yyyy.MM.dd ( H:mm:ss )')} ]]</span>
		</div>
	</div>
	
	
	<hr style="border: outset">

<div class="uploadBox" style="display:none">
	<div class="site-section block-3 card shadow mb-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Upload Image</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
            </div>
          </div>
        </div>
        <br>
      </div>
  	</div>
  	<hr style="border: outset">
</div> <!--  image box -->
	
	<div class="form-group">
		<textarea class="form-control bg-light" rows="30" name='content'
			th:text="${vo.content}" readonly="readonly" style="overflow:hidden"></textarea>
	</div>

	<div class="d-flex">
		<div class="mr-auto">
			<button class="btn-outline-success btn-sm addReplyBtn">댓글 달기</button>
			<button class="btn-outline-primary btn-sm likeBtn">좋아요 ([[${vo.comlike}]])</button>
		</div>
		
		<div class="ml-auto">
			<button class="btn-primary btn-sm regBtn">글쓰기</button>
			<button class="btn-warning btn-sm modBtn">수정 및 삭제</button> 
			<button class="btn-primary btn-sm listBtn">목록으로</button>
		</div>
	</div>
</div>
</div>
	

<div class="replyBox" style="display: none;">
<div class="card shadow mb-4">
	<div class="card-body replyList list-group">
	

<!-- 		<ul class="replyList list-group">
		</ul> -->
		
		<div class="pageReply">
		</div>
	</div>
</div>
</div>



<form id="actionForm" action="/community/modify" method="get">
	<input type="hidden" name="bno" th:value="${cri.bno}"> 
	<input type="hidden" name="page" th:value="${cri.page}"> 
	<input type="hidden" name="amount" th:value="${cri.amount}"> 
	<input type="hidden" name="type" th:value="${cri.type}">
	<input type="hidden" name="keyword" th:value="${cri.keyword}">
</form>


<div class="modal fade" id="ComReplyModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add Reply</h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" class="form-control mid" name="bno"
					th:value="${cri.bno}" readonly="readonly"> <input type="hidden"
					class="form-control mrno" name="rno" value="" readonly="readonly">
				<input type="text" class="form-control" name="reply" value="샘플댓글">
				<input type="text" class="form-control" name="replyer" value="user123">
			</div>
			<div class="modal-footer">
				<button class="btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
				<button class="btn-primary btn-sm replyBtn">ADD REPLY</button>
				<button class="btn-info btn-sm modifyBtn hide">Modify Reply</button>
				<button class="btn-danger btn-sm deleteBtn hide">Delete Reply</button>
			</div>
		</div>
	</div>
</div>

</div>

<script th:src="@{/js/Comreply.js}"></script>
<script>

<!-- Button - using actionForm -->
var actionForm = $("#actionForm");

$(".modBtn").on("click", function(e) {
	actionForm.submit();
})
$(".listBtn").on("click", function(e) {
	e.preventDefault();
	actionForm.find("input[name='bno']").remove();
	actionForm.attr("action", "/community/list").submit();
})
$(".regBtn").on("click", function(e) {
	actionForm.html("");
	actionForm.attr("action","/community/register").submit();
})

var prevnext = [[${bnoPrevNext}]];
$(".prevBtn").on("click", function(e){
	e.preventDefault();
	if(prevnext.length == 1 && prevnext > bno){
		alert("이전글이 없습니다.")
	}else{
		$("input[name='bno']").val(prevnext[0])
		actionForm.attr("action","/community/read").submit();
	}
})
$(".nextBtn").on("click", function(e){
	e.preventDefault();
	if(prevnext.length == 1 && prevnext < bno){
		alert("다음글이 없습니다.")
	}else if((prevnext.length == 1 && prevnext > bno)){
		$("input[name='bno']").val(prevnext)
		actionForm.attr("action","/community/read").submit();
	}else{
		$("input[name='bno']").val(prevnext[1])
		actionForm.attr("action","/community/read").submit();
	}
	
})
<!-- actionForm End .. -->


<!-- like Btn -->
$(".likeBtn").on("click",function(e){
	e.preventDefault();
	let obj = {
			bno : [[${vo.bno}]],
			mmid : "[[${vo.mmid}]]"
		};
	comLikeBtn(obj,function(){
		alert("종아요성공 !")},
		function(){
			alert("좋아요 중복!!")
		});
});

function comLikeBtn(obj, callback,callback2) {
	$.ajax({
		type : "post",
		url : "/like_com/" + "new",
		data : JSON.stringify(obj),
		contentType : "application/json;charset=UTF-8",
		success : function() {
			if (callback) {
				callback();
				}},
		error : function() {
			if (callback2) {
				callback2();
				}}
	});
};
<!-- like Btn -->


<!-- reply js -->
var bno = [[${vo.bno}]];
var replyCnt = [[${vo.replycnt}]];
var page = 1;
var replyList = $(".replyList");

showPage(page)

	<!-- add reply -->
$(".addReplyBtn").on("click", function() {
	$("#ComReplyModal").modal("show");
	$(".modifyBtn").addClass("hide");
	$(".replyBtn").removeClass("hide");
	$(".deleteBtn").addClass("hide");
});
$(".replyBtn").on("click", function(e) {

	let obj = {
		bno : $("input[name='bno']").val(),
		content : $("input[name='reply']").val(),
		mmid : $("input[name='replyer']").val(),
	};
	replyService.addReply(obj, function() {
		alert("댓글 등록 성공");
		$("#ComReplyModal").modal("hide");
		showPage(-1);
	});
	replyCnt +=1 ;
	
});
	<!-- end add reply -->
	
	<!-- reply Modify & Delete Reply  -->
replyList.on("click","a",function(e){
	e.preventDefault();
	 var rno =$(this).attr("data-rno");
	 
	 replyService.getReply(rno,function(reply){
		 
		$(".mrno").val(reply.rno);
		$("input[name='reply']").val(reply.content);
		$("input[name='replyer']").val(reply.mmid);
		$("#ComReplyModal").modal("show");
		
		$(".replyBtn").addClass("hide");
		$(".modifyBtn").removeClass("hide");
		$(".deleteBtn").removeClass("hide");
	});
});

$(".modifyBtn").on("click",function(e){
	
	 let obj = {
				rno : $("input[name='rno']").val(),
				content : $("input[name='reply']").val(),
				mmid : $("input[name='replyer']").val()
			};
	 replyService.modifyReply(obj, function() {
			alert("댓글 등록 성공");
			$("#ComReplyModal").modal("hide");
			showPage(page);
		});
});


$(".deleteBtn").on("click",function(){
	var rno = $("input[name='rno']").val();
	
	replyService.removeReply(rno,function(){
		alert("remove.....")
		showPage(page);
		$("#ComReplyModal").modal("hide");
	})
	replyCnt -=1 ;
});
	<!-- End Modify&Delete Reply -->

	
	<!-- function -- ShowPage about reply  -->
function showPage(page){
		
	replyList.html("");
    replyService.getListPage({bno:bno,page: page||1},function (arr) {
    	
	if(page == -1){
    	pageNum = Math.ceil(replyCnt/10.0);
    	showPage(pageNum);
    	return;
    } // add reply -> last page  
	
    if(arr.length > 0){
    	$(".replyBox").attr('style', "display:block;");
    } // if don't have reply -> replyBox display none
    
     var str = '';
     var x = 0;
	 for(var i=0;i<arr.length;i++){
	 	var {rno,bno,content,mmid,replyDate} = arr[i];
	 	var idCheck = "[[${vo.mmid}]]" == mmid ? "<a href='#' class='btn-sm btn-warning modReplyModal' data-rno="+rno+">수정 및 삭제</a>" : "";
		str += "<div class='card w-80'><div class='card-body'>" +
			   "<h5 class='card-title'>"+mmid+"</h5>"+
			   "<p class='card-text'>- "+content+"</p>"+
			   idCheck +
			   "<a href='#' class='btn-sm btn-primary'>댓글달기</a>"+
			   "</div></div>";
			   
			
		}
        replyList.append(str);
        showReplyPage(replyCnt);
     });
}

	<!-- reply pagination -->
var pageNum = 1;
var pageReply = $(".pageReply");
function showReplyPage(replyCnt){
	
	pageReply.html("");
	
	var endNum = Math.ceil(pageNum/10.0)*10;
	var startNum = endNum - 9;
	
	var prev = startNum != 1;
	var next = false;
	
	if(endNum * 10 >= replyCnt){
		endNum = Math.ceil(replyCnt/10.0);
	}
	if(endNum *10 < replyCnt){
		next = true;
	}
	var str = "<ul class='pagination pull-right'>";
	if(prev){
		str += "<li class='page-item'><a class='page-link' href='"+(startNum-1)+"'>Previous</a></li>";
	}
	for(var i = startNum ; i<= endNum; i++){
		var active = pageNum == i? "active":"";
		
		str += "<li class='page-item "+active+"'><a class='page-link' href='"+i+"'>"+i+"</a></li>";
	}
	if(next){
		str += "<li class='page-item'><a class='page-link' href='"+(endNum+1)+"'>Next</a></li>";
	}
	str += "</ul>";
	pageReply.append(str);	
}

pageReply.on("click","li a",function(e){
	
	e.preventDefault();
	var targetPageNum = $(this).attr("href");
	console.log("targetPageNum: "+ targetPageNum);
	
	page = targetPageNum;
	showPage(page);
});
<!-- End reply js -->
</script>


<script>
<!-- Attach Community -->
$(document).ready(function(){
	
	console.log(".... 레디 ")
	//(function(){
		var bno = [[${vo.bno}]];
		$.getJSON("/community/getAttachList",{bno: bno}, function(arr){
			console.log(arr);			
			if(arr.length != 0){
				$(".uploadBox").attr('style', "display:block;");
			}
			
			$(arr).each(function(i,attach){
				var fileCallPath = encodeURIComponent( attach.uploadPath+"/s_"+attach.uuid+"_"+attach.fileName);
				var fileOriginPath = encodeURIComponent( attach.uploadPath+"/"+attach.uuid+"_"+attach.fileName);
				var str="";
				//str += "<li data-path='"+attach.uploadPath+"' data-uuid='"+attach.uuid+"' data-filename='"+attach.fileName+"'>";
				//str += "<div><img src='/upload/getImage?fileName="+fileCallPath+"'>";
				//str += "</div></li>";
				
				str += "<div class='item'><div class='block-4 text-center'><figure class='block-4-image'>";
				//str += "<a class='item' href='http://lorempixel.com/800/400/food/2/' rel='prettyPhoto' title='This is the description'>"
				//str += "<a href='#' onclick='$(this).galleryShow(); return false;'>";
				str += "<a class='example-image-link' href='/upload_com/getImage?fileName="+fileOriginPath+"' data-lightbox='example-set' data-title='Uploaded Image'>";
				str += "<img class='example-image' src='/upload_com/getImage?fileName="+fileCallPath+"' alt='Image Read Fail' class='img-fluid'></a>";
				str += "</figure><div class='block-4-text'><p class='text-primary font-weight-bold'>"+attach.fileName+"</p>";
				str += "</div></div></div></div>";
				$('.owl-carousel').owlCarousel('add', str).owlCarousel('update');
			});  
		}); // end json <- getImage to read page
		

}); 

$(function () {
	$("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
	console.log("active light box");
});
	
</script>

<th:block th:insert="/../include/footer.html"></th:block>