<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/../include/header.html"></th:block>

<style>
.modal-footer .hide {
	display: none
}


.modal {
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}


</style>

<br>


<div class="container">

<div class="card shadow mb-4">
<div class="card-body">
	<div class="d-flex">
		<span class="mr-auto align-self-center font-weight-bold">[[${vo.title}]]  </span>
		<div class="ml-auto">
			<a class="align-self-center btn-sm btn-info prevBtn" href="#" th:text="#{board.button.prevBtn}">이전글</a>
			<a class="align-self-center btn-sm btn-primary listBtn" href="#" th:text="#{board.button.listBtn}">목록으로</a>
			<a class="align-self-center btn-sm btn-info nextBtn" href="#" th:text="#{board.button.nextBtn}">다음글</a>
		</div>
	</div>
	
	<div class="d-flex">
		<span class="mr-auto align-self-center">[[#{board.writer}]]: [[${vo.mmid}]]</span>
		<div class="ml-auto align-self-end">
			<span>[[#{board.regdate}]]: [[ ${#dates.format(vo.regdate,'yyyy.MM.dd ( H:mm:ss )')} ]]</span>
		</div>
	</div>
	
	
	<hr style="border: outset">
	
		<div class="row">
		<div class="form-group col-6">
			<label th:text="#{shop.address}"></label> 
			<input class="form-control" name="location" th:value="${vo.location}" readonly="readonly"/>			
		</div>
		
		<div class="form-group col-6">
			<label th:text="#{board.budget}"></label> 
			<input class="form-control" name="budget" th:value="${vo.budget}" readonly="readonly"/>			
		</div>
		</div>

<div class="uploadBox" style="display:none">
	<div class="site-section block-3 card shadow mb-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2 th:text="#{board.list.uploadFile}">Upload Image</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
            </div>
          </div>
        </div>
        <br>
      </div>
  	</div>
  	<hr style="border: outset">
</div> <!--  image box -->
	
	<div class="form-group">
		<textarea class="form-control bg-light" rows="30" name='content'
			th:text="${vo.content}" readonly="readonly" style="overflow:hidden"></textarea>
	</div>

	<div class="d-flex">
		<div class="mr-auto">
			<button class="btn-outline-success btn-sm msgBtn" th:text="#{board.list.button.msgBtn}">쪽지보내기</button>
		</div>
		
		<div class="ml-auto">
			<button class="btn-primary btn-sm regBtn" th:text="#{board.button.registerBtn}">글쓰기</button>
			<button class="btn-warning btn-sm modBtn" th:text="#{board.list.button.modAndDelBtn}">수정 및 삭제</button> 
			<button class="btn-primary btn-sm listBtn" th:text="#{board.button.listBtn}">목록으로</button>
		</div>
	</div>
</div>
</div>


<form id="actionForm" action="/matching/modify" method="get">
	<input type="hidden" name="bno" th:value="${cri.bno}"> 
	<input type="hidden" name="page" th:value="${cri.page}"> 
	<input type="hidden" name="amount" th:value="${cri.amount}"> 
	<input type="hidden" name="type" th:value="${cri.type}">
	<input type="hidden" name="keyword" th:value="${cri.keyword}">
</form>


</div>


<script>

<!-- Button - using actionForm -->
var actionForm = $("#actionForm");

$(".modBtn").on("click", function(e) {
	actionForm.submit();
})
$(".listBtn").on("click", function(e) {
	e.preventDefault();
	actionForm.find("input[name='bno']").remove();
	actionForm.attr("action", "/matching/list").submit();
})
$(".regBtn").on("click", function(e) {
	actionForm.html("");
	actionForm.attr("action","/matching/register").submit();
})

var prevnext = [[${bnoPrevNext}]];
$(".prevBtn").on("click", function(e){
	e.preventDefault();
	if(prevnext.length == 1 && prevnext > bno){
		alert("이전글이 없습니다.")
	}else{
		$("input[name='bno']").val(prevnext[0])
		actionForm.attr("action","/matching/read").submit();
	}
})
$(".nextBtn").on("click", function(e){
	e.preventDefault();
	if(prevnext.length == 1 && prevnext < bno){
		alert("다음글이 없습니다.")
	}else if((prevnext.length == 1 && prevnext > bno)){
		$("input[name='bno']").val(prevnext)
		actionForm.attr("action","/matching/read").submit();
	}else{
		$("input[name='bno']").val(prevnext[1])
		actionForm.attr("action","/matching/read").submit();
	}
	
})
<!-- actionForm End .. -->

<!-- button - Message -->
$(".msgBtn").on("click", function(e) {
	e.preventDefault();
	var whom = "[[${vo.mmid}]]";
	var mmid = "[[${userID}]]";
	
	if(whom==mmid){
		alert("자신에게 쪽지를 보낼수 없습니다.");
		return;
	}
	
	window.open('/msg/register?whom='+whom+'&mmid='+mmid+'', '쪽지함','width=550, height=700');
})


</script>


<script>
<!-- Attach Community -->
$(document).ready(function(){
	
	console.log(".... 레디 ")
	//(function(){
		var bno = [[${vo.bno}]];
		$.getJSON("/matching/getAttachList",{bno: bno}, function(arr){
			console.log(arr);			
			if(arr.length != 0){
				$(".uploadBox").attr('style', "display:block;");
			}
			
			$(arr).each(function(i,attach){
				var fileCallPath = encodeURIComponent( attach.uploadPath+"/s_"+attach.uuid+"_"+attach.fileName);
				var fileOriginPath = encodeURIComponent( attach.uploadPath+"/"+attach.uuid+"_"+attach.fileName);
				var str="";
				//str += "<li data-path='"+attach.uploadPath+"' data-uuid='"+attach.uuid+"' data-filename='"+attach.fileName+"'>";
				//str += "<div><img src='/upload/getImage?fileName="+fileCallPath+"'>";
				//str += "</div></li>";
				
				str += "<div class='item'><div class='block-4 text-center'><figure class='block-4-image'>";
				//str += "<a class='item' href='http://lorempixel.com/800/400/food/2/' rel='prettyPhoto' title='This is the description'>"
				//str += "<a href='#' onclick='$(this).galleryShow(); return false;'>";
				str += "<a class='example-image-link' href='/upload_matching/getImage?fileName="+fileOriginPath+"' data-lightbox='example-set' data-title='Uploaded Image'>";
				str += "<img class='example-image' src='/upload_matching/getImage?fileName="+fileCallPath+"' alt='Image Read Fail' class='img-fluid'></a>";
				str += "</figure><div class='block-4-text'><p class='text-primary font-weight-bold'>"+attach.fileName+"</p>";
				str += "</div></div></div></div>";
				$('.owl-carousel').owlCarousel('add', str).owlCarousel('update');
			});  
		}); // end json <- getImage to read page

}); 

$(function () {
	$("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
	console.log("active light box");
});
	
</script>

<th:block th:insert="/../include/footer.html"></th:block>