<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/../include/header.html"></th:block>

<br>

<div class="container">

<div class="card shadow mb-4">
<div class="card-body">

	<form class="actionForm" th:action="@{/matching/register}" method="post">

		<div class="form-group">
			<label th:text="#{board.list.title}"></label> 
			<input class="form-control" name="title" required="required"/>			
		</div>
		
		<div class="row">
		<div class="form-group col-6">
			<label th:text="#{shop.address}"></label> 
			<input class="form-control" name="location" required="required"/>			
		</div>
		
		<div class="form-group col-6">
			<label th:text="#{board.budget}"></label> 
			<input class="form-control" name="budget" required="required"/>			
		</div>
		</div>
		
		
		
		<hr style="border: outset">

		<div class="form-group">
			<textarea class="form-control" rows="30" name='content'></textarea>
			<input class="form-control" type="hidden" name="mmid" th:value="${userID}"/> 
			<!-- get mmid by login -->
		</div>
		
		
		<button type="submit" class="insertBtn btn-success btn-sm" th:text="#{board.button.registerBtn}">Submit Button</button>
		<button type="reset" class="btn-primary btn-sm" th:text="#{board.list.button.resetBtn}">Reset Button</button>
		<a th:href="@{/matching/list}" class="btn-secondary btn-sm" th:text="#{board.button.listBtn}"> Go to List </a>
	</form>
		
		<div class="uploadBox" style="display: none"> 
			<hr style="border: outset">
			<div class="site-section block-3 card shadow mb-4">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-7 site-section-heading text-center pt-4">
							<h2 th:text="#{board.list.uploadFile}">Upload Image</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="nonloop-block-3 owl-carousel"></div>
						</div>
					</div>
					<br>
				</div>
			</div>
			<hr style="border: outset">
		</div><!--  uploadBox -->

	<hr>

	<div class="input-group">
 	<div class="input-group-prepend">
    	<span class="input-group-text" id="inputGroupFileAddon01" th:text="#{board.list.upload}">Upload</span>
  	</div>
  	<div class="custom-file">
    	<input type="file" class="custom-file-input" id="inputGroupFile01"  name="files"
      	aria-describedby="inputGroupFileAddon01" multiple="multiple">
    	<label class="custom-file-label" for="inputGroupFile01" th:text="#{board.list.uploadLabel}">Choose file</label>
  	</div> 
	</div> <!--  input - upload -->

</div>
</div> <!-- end Card-shadow -->

</div> <!-- end Container -->


<script th:inline="javascript">
$(document).ready(function() {
		
	//var cloneObj = $(".custom-file").clone()
				
	$("input[type=file]").on("change", function(e) {
		e.preventDefault();
		
		var formData = new FormData();
		var inputFile = $("input[name='files']");
		var files = inputFile[0].files;
		
		for (var i = 0; i < files.length; i++) {
			if (!checkExtension(files[i].name, files[i].size)) {
				return false;
			}
			formData.append("uploadFile", files[i]);}
		
		
		$.ajax({
			url : '/upload_matching/newFiles',
			processData : false,
			contentType : false,
			data : formData,
			type : 'POST',
			dataType : 'json',
			success : function(result) {
				alert("Uploaded");
				console.log(result);
			
				showUploadFile(result);
				//$(".custom-file").html(cloneObj.html());
				}
		}); // End $.ajax
	});// End Upload Event
	
	var form = $(".actionForm");
	
	$(".insertBtn").on("click",function(e){
		e.preventDefault();
		var str ="";
		
		$(".uploadBox img").each(function(i,obj){
			var jobj = $(obj);
			
			str += "<input type='hidden' name='attachList["+i+"].fileName' value='"+jobj.data("filename")+"'>";
			str += "<input type='hidden' name='attachList["+i+"].uuid' value='"+jobj.data("uuid")+"'>";
			str += "<input type='hidden' name='attachList["+i+"].uploadPath' value='"+jobj.data("path")+"'>";
			
		})
		form.append(str);
		form.submit();
	});// end insert btn
		
		
	var uploadResult = $(".uploadResult ul");
		
	$(".uploadResult").on("click", "button", function(e) {
		console.log("delete file");
							
		var targetFile = $(this).data("file");
		var targetLi = $(this).closest("li");

		console.log(targetFile);
							
		$.ajax({
			url : '/upload_matching/deleteFile',
								
			data : {
				fileName : targetFile,									
				type : 'image' },
			dataType : 'text',
			type : 'POST',
			success : function(result) {
				alert(result);
				targetLi.remove();}
		});// End &.ajax
						
	}); // End Click Event
	
	
	
	var regex = new RegExp("(.*?)\.(exe|php)$");
	var maxSize = 5242880;	
		
	function checkExtension(fileName, fileSize) {

		if (fileSize >= maxSize) {
			alert("over Size");
			return false;
		}

		if (regex.test(fileName)) {
			alert("Don't upload this type");
			return false;
		}
		return true;
	} // check upload
		
	function showUploadFile(uploadResultArr) {
		$(uploadResultArr).each(function(i, obj) {
			var str = "";
			var folderFileName = encodeURIComponent(obj.uuid+ "_" + obj.fileName);
			if(uploadResultArr != 0){
				$(".uploadBox").attr('style', "display:block;");
			}

			if (!obj.image) {
				str += "<li><a href='/upload_matching/download?fileName="+
						folderFileName+ "'>"+ obj.fileName+ "</li>";
			}else{
				var fileOriginPath = encodeURIComponent(obj.uploadPath+ obj.uuid+ "_"+obj.fileName);			
				var fileCallPath = encodeURIComponent(obj.uploadPath+ "/s_"+ obj.uuid+ "_"+ obj.fileName);
				
				//str +="<button data-file="+fileCallPath+" class='btn-warning btn-circle'><i class='fa fa-times'>x</i></button><br>";
			
				str += "<div class='item'><div class='block-4 text-center'><figure class='block-4-image'>";
				str += "<a class='example-image-link' href='/upload_matching/getImage?fileName="+fileOriginPath+"' data-lightbox='example-set' data-title='Uploaded Image'>";
				str += "<img  data-path='"+obj.uploadPath+"' data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"'";
				str += "class='example-image' src='/upload_matching/getImage?fileName="+fileCallPath+"' alt='Image Read Fail' class='img-fluid'></a>";
				str += "</figure><div class='block-4-text p-4'><p class='text-primary font-weight-bold'>"+obj.fileName+"</p>";
				str += "<button data-file="+fileCallPath+">X</button></div>"
				str += "</div></div></div></div>";
				$('.owl-carousel').owlCarousel('add', str).owlCarousel('update');
						
			}// End else 
		}); // End for each
	}// end function
	
					
}); // End Document Ready

</script>


<th:block th:insert="/../include/footer.html"></th:block>

